html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    font-family: sans-serif;

    background-color: #363640;
}

h1 {
    color: #ffffff;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    margin: O;
    padding-inline-start: 0;
}


input[type="search"]{
    width: 28rem;
    height: 5.6rem;
    padding: 0 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, 0.04);
    font-size: 2rem;
    text-align: center;
    color: #4CAF50;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #4CAF50;
    background-color: white;
    width: 28rem;
    height: 3rem;
    padding-left: 10px;
    outline: none;
    border: none;
    text-align: left;
    color: #4CAF50;
    vertical-align: middle;
    opacity: .5;

}
